h1 members
p more coming soon. for now, it's just hacky forums (so we can war strat plan better) and a calendar (for pushes/events).
hr
h3 = link_to "Forums", forums_path
h3 = link_to "Calendar", calendar_members_path
